<div class="row pt-2 bg-white">
  <div class="container">
    <div class="row">
      <p class="col-3 offset-1 font-weight-bolder">Titre du mail</p>
      <p class="col-3 offset-1">Sujet du mail : oui</p>
      <button class="col-1 offset-1 border-pill" class="box" (click)="tabToggle(1)">Lire</button>
    </div>
  </div>
  <div class="row">
    <p class="col-10 offset-1" *ngIf="showTab == 1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus autem eos
      quaerat repellat voluptatibus! Ab asperiores autem, beatae cupiditate doloremque ea nisi nobis officia praesentium
      quae sapiente, sequi, similique velit!</p>
  </div>
</div>
<div class="row pt-2">
  <div class="container">
    <div class="row">
      <p class="col-3 offset-1 font-weight-bolder">Titre du mail</p>
      <p class="col-3 offset-1">Sujet du mail : oui</p>
      <button class="col-1 offset-1 border-pill" class="box" (click)="tabToggle(2)">Lire</button>
    </div>
  </div>
  <div class="row">
    <p class="col-10 offset-1" *ngIf="showTab == 2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus autem eos
      quaerat repellat voluptatibus! Ab asperiores autem, beatae cupiditate doloremque ea nisi nobis officia praesentium
      quae sapiente, sequi, similique velit!</p>
  </div>
</div>
<div class="row pt-2 bg-white">
  <div class="container">
    <div class="row">
      <p class="col-3 offset-1 font-weight-bolder">Titre du mail</p>
      <p class="col-3 offset-1">Sujet du mail : oui</p>
      <button class="col-1 offset-1 border-pill" class="box" (click)="tabToggle(3)">Lire</button>
    </div>
  </div>
  <div class="row">
    <p class="col-10 offset-1" *ngIf="showTab == 3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus autem eos
      quaerat repellat voluptatibus! Ab asperiores autem, beatae cupiditate doloremque ea nisi nobis officia praesentium
      quae sapiente, sequi, similique velit!</p>
  </div>
</div>
<div class="row pt-2">
  <div class="container">
    <div class="row">
      <p class="col-3 offset-1 font-weight-bolder">Titre du mail</p>
      <p class="col-3 offset-1">Sujet du mail : oui</p>
      <button class="col-1 offset-1 border-pill" class="box" (click)="tabToggle(4)">Lire</button>
    </div>
  </div>
  <div class="row">
    <p class="col-10 offset-1" *ngIf="showTab == 4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus autem eos
      quaerat repellat voluptatibus! Ab asperiores autem, beatae cupiditate doloremque ea nisi nobis officia praesentium
      quae sapiente, sequi, similique velit!</p>
  </div>
</div>
